{% if entry.body | length %}

  {% for block in entry.body %}

    {% switch block.type %}

    {% case "textOnly" %}

      <div class="container">
        {{ block.text | markdown }}
      </div>

      {% case "imageText" %}

        <div class="blog-imagetext blog-imagetext--{{ block.alignment }}">
          {% if block.image | length %}

            <div class="container">
              <hr class="featurette-divider">

              {% set rowClass = "featurette--left" %}
              {% set textWrapperClass = "col-md-7" %}
              {% set imageWrapperClass = "col-md-5" %}
              {% set textClass = "" %}

              {% switch block.alignment %}

              {% case "left" %}

                {% set rowClass = "featurette--right flex-row-reverse" %}

                {% case "full" %}

                  {% set rowClass = "featurette--full flex-column align-items-center" %}
                  {% set textWrapperClass = "col-md-6" %}
                  {% set imageWrapperClass = "col-md-8" %}
                  {% set textClass = "text-center" %}

                  {% endswitch %}

                  <div class="row featurette d-flex {{rowClass}}">
                    <div class="featurette-cell {{textWrapperClass}}">
                      <h2 class="featurette-heading {{textClass}}">{{ block.heading }}</h2>
                      <p class="lead {{textClass}}">{{ block.text | markdown }}</p>
                    </div>
                    <div class="featurette-cell {{imageWrapperClass}}">
                      <img class="featurette-image img-fluid mx-auto" src="{{ block.image.first().getUrl('imageToText') }}">
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>

            {% case "subtitle" %}

              <div class="blog-subtitle {% if block.textColor %}blog-subtitle--inverted{% endif %}" style="background-color: {{ block.background }}">
                <div class="container">
                  <div class="blog-subtitle-inner">
                    {{ block.text }}
                  </div>
                </div>
              </div>

              {% default %}

              <p>Bisher wurde kein Inhalt hinzugefügt.</p>

              {% endswitch %}

            {% endfor %}

          {% endif %}
