{% if items is defined %}
  <div class="album text-muted">
    <div class="container">
      <div class="row justify-content-md-center">

        {% for item in items %}

          <div class="col-sm-6 col-md-4">
            <div class="nls-phil-card">
              <div class="nls-phil-card-inner">
                {% if item.image | length > 0 %}
                  <img src="{{item.image.one().getUrl()}}" alt="{{ item.title }}" class="nls-phil-card-image">
                {% endif %}

                {% if item.postDate is null %}
                  <div class="nls-phil-card-date">{{ item.postDate | date("d.m.Y") }}</div>
                {% endif %}

                <h3 class="nls-phil-card-title">
                  <a href="{{ item.url }}" lang="de">{{ item.title }}</a>
                </h3>

                {% if item.teaser is defined %}
                  <p class="nls-phil-card-text">
                    {{ item.teaser }}
                  </p>
                {% endif %}
              </div>
            </div>
          </div>

        {% endfor %}

      </div>

      {% if showAllButton is defined %}
        <div class="p-5 text-center">
          <a href="{{showAllButton.url}}" class="btn btn-lg btn-primary">{{showAllButton.title}}</a>
        </div>
      {% endif %}
    </div>
  </div>

{% endif %}
