{% if items is defined %}
  <div class="album text-muted">
    <div class="container">
      {% if itemsTitle is defined %}
        <h2 class="mb-5">{{itemsTitle}}</h2>
      {% endif %}

      {% if itemsInfo is defined %}
        {% include "partials/_pagination.html" with { info: itemsInfo } %}
      {% endif %}

      <div class="row">

        {% for item in items %}

          <div class="col-sm-6 col-md-4">
            <div class="nls-phil-card">
              <div class="nls-phil-card-inner">
                {% if item.image | length > 0 %}
                  <img src="{{item.image.one().getUrl()}}" alt="{{ item.title }}" class="nls-phil-card-image">
                {% endif %}

                {% if item.postDate is not null %}
                  <div class="nls-phil-card-date">{{ item.postDate | date("d.m.Y H:i") }} <i class="fa fa-clock-o"></i></div>
                {% endif %}

                <h3 class="nls-phil-card-title" lang="de">
                  {{ item.title }}
                </h3>

                {% if item.teaser is defined %}
                  <p class="nls-phil-card-text" lang="de">
                    {{ item.teaser }}
                  </p>
                {% endif %}

                <a href="{{ item.url }}" class="nls-phil-card-link"></a>
              </div>
            </div>
          </div>

        {% endfor %}

      </div>

      {% if showAllButton is defined %}
        <div class="p-5 text-center">
          <a href="{{showAllButton.url}}" class="btn btn-lg btn-primary">{{showAllButton.title}}</a>
        </div>
      {% endif %}

      {% if itemsInfo is defined %}
        {% include "partials/_pagination.html" with { info: itemsInfo } %}
      {% endif %}
    </div>
  </div>

{% endif %}
