{% if items is defined %}
  <div class="album text-muted">
    <div class="container">
      {% if itemsTitle is defined %}
        <h2 class="mb-5">{{itemsTitle}}</h2>
      {% endif %}

      {% if itemsInfo is defined %}
        {% include "partials/_pagination.html" with { info: itemsInfo } %}
      {% endif %}

      <div class="row">

        {% for item in items %}

          <div class="col-sm-6 col-md-4">
            {% include "partials/_cards_item.html" %}
          </div>

        {% endfor %}

      </div>

      {% if showAllButton is defined %}
        <div class="p-5 text-center">
          <a href="{{showAllButton.url}}" class="btn btn-lg btn-primary">{{showAllButton.title}}</a>
        </div>
      {% endif %}

      {% if itemsInfo is defined %}
        {% include "partials/_pagination.html" with { info: itemsInfo } %}
      {% endif %}
    </div>
  </div>

{% endif %}
