<footer class="text-muted">
    <div class="container">
        <p>Diese Seite wurde mit freundlicher Unterstützung erstellt von Michael Czechowski -
            <a href="//dailysh.it" target="_blank">NEXT LEVEL SHIT - Webprogrammierung aus Stuttgart</a>
        </p>
        <p>Der Inhalt der Seite wird verwaltet von den jeweiligen Vertretern und Vertreterinnen der Fachgruppe für Öffentlichkeitsarbeit.
            <a href="/impressum">Impressum</a> | <a href="/kontakt">Kontakt</a></p>
    </div>
</footer>
