{% set teams = craft.entries.section("teams") %}

<div class="album">
  <div class="container">
    <h3 class="mb-3">Weitere Arbeitskreise</h3>
    <ul class="list-inline">
      {% for team in teams %}
        {% if team.id == currentTeamId %}
          {% set buttonClass = 'btn-primary' %}
        {% else %}
          {% set buttonClass = 'btn-secondary' %}
        {% endif %}

        <li class="list-inline-item mb-2">
          <a href="{{ team.url }}" class="btn {{ buttonClass }}">{{ team.title }}</a>
        </li>
      {% endfor %}
    </div>
  </div>
</div>
