{% extends "master" %}

{% block content %}

    {% set entry = craft.entries.section('index').first() %}

	<main role="main">

        {% include "partials/_jumbotron.html" %}

        {% include "partials/_iconic.html" %}

        {% include "partials/_body.html" %}

        <div class="album text-muted">
            <div class="container">
                <div class="row">

                    {% paginate craft.entries.section('blog').limit(6) as info, entries %}

                    {% for entry in entries %}
                        {% include "partials/_entry_teaser.html" %}
                    {% endfor %}

                    {% include "partials/_pagination.html" %}

                </div>
            </div>
        </div>
	</main>

{% endblock %}
