<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    lang="de-DE">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport"
            content="width=device-width, initial-scale=1.0">
        <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
        <link rel="home"
            href="{{ siteUrl }}" />
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Roboto+Slab:300,400"
            rel="stylesheet"> {% do view.registerCssFile("assets/css/main.css") %}
    </head>

    <body class="nls-phil-body">
        <header class="nls-phil-header">
            <div class="collapse bg-inverse"
                id="navbarHeader">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 py-4">
                            <h4 class="text-white">About</h4>
                            <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact
                                information.
                            </p>
                        </div>
                        <div class="col-sm-4 py-4">
                            <h4 class="text-white">Contact</h4>
                            <ul class="list-unstyled">
                                <li><a href="#"
                                        class="text-white">Follow on Twitter</a></li>
                                <li><a href="#"
                                        class="text-white">Like on Facebook</a></li>
                                <li><a href="#"
                                        class="text-white">Email me</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-inverse bg-inverse">
                <div class="container d-flex justify-content-between">
                    <a href="{{ siteUrl }}"
                        class="navbar-brand">{{ siteName }}</a>
                    <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarHeader"
                        aria-controls="navbarHeader"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
               </button>
                </div>
            </div>
        </header>

        <main role="main">

            {% block content %}{% endblock %}

        </main>

        <footer class="text-muted">
            <div class="container">
                <p class="float-right">
                    <a href="#">Zurück zum Anfang</a>
                </p>
                <p>Diese Seite wurde mit freundlicher Unterstützung erstellt von Michael Czechowski - <a href="//dailysh.it" target="_blank">NEXT LEVEL SHIT - Webprogrammierung aus Stuttgart</a></p>
                <p>Der Inhalt wird verwaltet von den jeweiligen Vertretern und Vertreterinnen der Fachgruppe für <a href="#">Öffentlichkeitsarbeit</a>.</p>
            </div>
        </footer>

        <pre>
            {# {{ dump(entry) }} #}
        </pre>

        <script src="assets/js/main.js"></script>
    </body>

</html>
