.iconic {
  $this-gutter: 1rem;

  margin: 5rem (- $this-gutter / 2) 0;

  &-item {
    margin-bottom: 4rem;
    padding: 0 $this-gutter;

    &-icon,
    &-title {
      text-align: center;
    }

    &-icon {
      $this-background-color: $brand-primary;

      margin: 2rem 0 2.8rem;

      i {
        transform: scale(3);
        border: 0.5rem solid $this-background-color;
        border-radius: 50%;
        background: $this-background-color;
        color: white;
      }
    }

    &-title {
      font-weight: 300;
      font-size: 2rem;
      letter-spacing: -0.05rem;
      line-height: 1;
      margin-bottom: 0.25rem;
      hyphens: auto;
    }

    &-text {
      font-weight: 300;
      font-size: 1rem;
      align: justify;
      hyphens: auto;
    }
  }
}
