.nls-phil-header {
  .show + .navbar {
    .navbar-brand {
      opacity: 0;
    }
  }

  .navbar-brand {
    transition: all 180ms;
  }

  &-collapse {
    &-menu {
      opacity: 0;
      transition: all 800ms;
    }

    ul {
      position: relative;
      overflow: hidden;

      li {
        margin-bottom: 0.2rem;

        a {
          display: block;
          border: 1px solid $gray;
          padding: 0.5rem 1rem;
          border-radius: $border-radius;
          font-family: $font-family-serif;
          transition: transform 500ms, opacity 400ms;
          transform: translateY(6rem);
          opacity: 0;

          &:focus,
          &:hover {
            border-color: $gray-light;
            text-decoration: none;
          }
        }

        $this-delay: 100ms;

        @for $i from 0 through 10 {
          &:nth-child(#{$i}) {
            a {
              transition-delay: $i * $this-delay;
            }
          }
        }
      }
    }

    &.show {
      .nls-phil-header-collapse-menu {
        opacity: 1;
      }

      ul {
        li {
          a {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
    }
  }
}
