.jumbotron {
    padding: 4rem 0 2rem;
    margin-bottom: 0;
    background-color: #fff;

    &-heading {
        font-weight: 300;
    }

    .container {
        max-width: 40rem;
    }

    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}
