/*----------------------------------------------------------------
 * Settings
 *----------------------------------------------------------------
 * Global variables, site-wide settings, config switches, etc.
 */
 @import 'settings.bootstrap-variables';

/*----------------------------------------------------------------
 * Generic
 *----------------------------------------------------------------
 *
 * External packages and dependencies like boostrap etc.
 */
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/font-awesome/scss/font-awesome';
/*----------------------------------------------------------------
 * Base
 *----------------------------------------------------------------
 *
 * Unclassed HTML elements (e.g. a {}, blockquote {}, address {}).
 */
body {
    min-height: 75rem;
}

main {
  margin: 2rem 0;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;

    p {
        margin-bottom: .25rem;
    }
}

/*----------------------------------------------------------------
 * Helper classes
 *----------------------------------------------------------------
 *
 * Simple classes helpers (e.g. .fullheight {}).
 */

/*----------------------------------------------------------------
 * Components
 *----------------------------------------------------------------
 *
 * Discrete, complete chunks of UI (e.g. .carousel {}).
 */
@import "components.featurette";
@import "components.iconic";


/*----------------------------------------------------------------
 * Overrides
 *----------------------------------------------------------------
 *
 * Discrete, complete chunks of UI (e.g. .carousel {}).
 */
 @import "overrides.jumbotron";
 @import "overrides.card";

.navbar {
    margin-bottom: 0;
}

.album {
    min-height: 50rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 6rem;
    background-color: #f7f7f7;
}
