/*----------------------------------------------------------------
 * Settings
 *----------------------------------------------------------------
 * Global variables, site-wide settings, config switches, etc.
 */
@import 'settings.bootstrap-variables';
/*----------------------------------------------------------------
 * Generic
 *----------------------------------------------------------------
 *
 * External packages and dependencies like boostrap etc.
 */
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/font-awesome/scss/font-awesome';
/*----------------------------------------------------------------
 * Base
 *----------------------------------------------------------------
 *
 * Unclassed HTML elements (e.g. a {}, blockquote {}, address {}).
 */
body {
  min-height: 75rem;
}

main {
  margin: 2rem 0;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;

  p {
    margin-bottom: 0.25rem;
  }
}
/*----------------------------------------------------------------
 * Helper classes
 *----------------------------------------------------------------
 *
 * Simple classes helpers (e.g. .fullheight {}).
 */
/*----------------------------------------------------------------
 * Components
 *----------------------------------------------------------------
 *
 * Discrete, complete chunks of UI (e.g. .carousel {}).
 */
@import "components.blog";
@import "components.featurette";
@import "components.iconic";
@import "components.team";

.nls-phil-header {
  .show + .navbar {
    .navbar-brand {
      opacity: 0;
    }
  }

  .navbar-brand {
    transition: all 180ms;
  }

  &-collapse {
    &-menu {
      opacity: 0;
      transition: all 800ms;
    }

    ul {
      li {
        margin-bottom: 0.2rem;

        a {
          display: block;
          border: 1px solid $gray;
          padding: 0.5rem 1rem;
          border-radius: $border-radius;
          font-family: $font-family-serif;
          transition: transform 500ms, opacity 400ms;
          transform: translateY(6rem);
          opacity: 0;

          &:focus,
          &:hover {
            border-color: $gray-light;
            text-decoration: none;
          }
        }

        &:nth-child(0) {
          a {
            transition-delay: 0;
          }
        }

        &:nth-child(1) {
          a {
            transition-delay: 100ms;
          }
        }

        &:nth-child(2) {
          a {
            transition-delay: 200ms;
          }
        }

        &:nth-child(3) {
          a {
            transition-delay: 300ms;
          }
        }

        &:nth-child(4) {
          a {
            transition-delay: 400ms;
          }
        }

        &:nth-child(5) {
          a {
            transition-delay: 500ms;
          }
        }

        &:nth-child(6) {
          a {
            transition-delay: 600ms;
          }
        }

        &:nth-child(7) {
          a {
            transition-delay: 700ms;
          }
        }
      }
    }

    &.show {
      .nls-phil-header-collapse-menu {
        opacity: 1;
      }

      ul {
        li {
          a {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
    }
  }
}
/*----------------------------------------------------------------
 * Overrides
 *----------------------------------------------------------------
 *
 * Discrete, complete chunks of UI (e.g. .carousel {}).
 */
@import "overrides.jumbotron";
@import "overrides.card";
@import "overrides.modal";
@import "overrides.navbar";

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 6rem;
  background-color: #f7f7f7;
}
